<footer class="bg-dark text-white text-center text-lg-start mt-5" style="">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">BurgerWeek</h5>
        <p>
          Disfruta de las mejores hamburguesas de la ciudad, visita nuestros restaurantes asociados y descubre sabores increíbles.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Explora</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/restaurantes/lista" class="text-white">Restaurantes</a>
          </li>
          
          <% if (!user) { %>
            <!-- Mostrar solo si el usuario NO está autenticado -->
            <li>
              <a href="/usuarios/register" class="text-white">Registro</a>
            </li>
            <li>
              <a href="/usuarios/login" class="text-white">Iniciar Sesión</a>
            </li>
          <% } else { %>
            <!-- Mostrar si el usuario está autenticado -->
            <li>
              <a href="/usuarios/logout" class="text-white">Cerrar Sesión</a>
            </li>
            <li>
              <span class="text-white">Bienvenido, <strong><%= user.nombre %></strong></span>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</footer>
