<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BurgerWeek</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/restaurantes/lista">Restaurantes</a>
          </li>
          <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios/register">Registro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios/login">Iniciar Sesión</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <span class="nav-link">Bienvenido, <strong><%= user.nombre %></strong></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios/logout">Cerrar Sesión</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>
