<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <%- include('../components/header') %>

    <main class="container my-5">
        <h1 class="text-center">¿Deseas dejar una opinión?</h1>
        <div class="d-flex justify-content-center mt-4">
            <a href="/reviews/create?hamburguesaId=<%= hamburguesaId %>" class="btn btn-primary mx-2">Sí, dejar una opinión</a>
            <a href="/" class="btn btn-secondary mx-2">No, volver al menú principal</a>
        </div>
    </main>

    <%- include('../components/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
